.page {
  overflow: hidden;
  scroll-behavior: smooth;

  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.page__section {
  padding-bottom: 100px;
}

.page__section-title {
  margin-bottom: 60px;
  padding-top: 100px;

  background: linear-gradient(#F9E994, #537D13, #483C08);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 52px;
  text-align: center;
}

.page__section-title--results {
  background: #537D13;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 720px) {
  .page__section {
    padding-bottom: 60px;
  }

  .page__section-title {
    margin-bottom: 32px;
    padding-top: 60px;
  
    font-size: 36px;
  }
}
